<section>
    <div class="container-fluid pt-5">
        <div class="edit-product m-4">
            <div class="add-product mt-3">
                <h2 class="text-center">Add Product</h2>
                <form action="/admin/add-carousel-image" method="post" enctype="multipart/form-data">
                <label for="">Name</label>
                <input type="text" name="Name" id="" class="form-control">

                <label for="">Image : </label>
                <br>

                <input type="file" name="Image" class="form-control">

                <button class="btn btn-success mt-4" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
