* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

/* User */

/* Navbar */

.navbar {
  height: 5rem;
}

#navbar {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 100vw;
  top: 0;
}

#logo {
  font-size: 2rem;
  color: #000000;
  font-weight: 900;
}

#logo span {
  font-size: 2rem;
  color: #e53e84;
  margin-bottom: 1rem;
}

.navbar-collapse {
  justify-content: right;
  width: fit-content;
}

nav ul {
  background: rgba(255, 255, 255, 0.6);
}

nav ul>li,
nav ul>div {
  display: flex;
  align-items: center;
  justify-content: right;
}

nav li {
  font-size: 1.25rem;
  padding: 1rem;
  font-weight: 500;
}

.nav-item a {
  color: #000000;
}

.nav-item a:focus {
  color: #e53e84;
}

.nav-item a:hover {
  color: #e53e84;
}

.social-medias {
  display: flex;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  margin-right: 2rem;
}

.three-lines {
  font-size: 2rem;
}

/* Navbar */

/* Home */

.home {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/danilb1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeText {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeText h1 {
  color: #170404;
  font-weight: bolder;
}

.homeText h4 {
  color: #e53e84;
}

.homeText p {
  color: #635b5b;
  font-style: italic;
  font-weight: 500;
  font-size: 1.25rem;
}

.homeText button {
  border: none;
}

.homeText button:hover {
  background-color: #e53e84;
}

@media (max-width: 768px) {
  .homeText {
    width: 100%;
  }
}

/* Home */

/* For all Pages */

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.page h1 {
  font-weight: bolder;
  font-size: 3.5rem;
}

.page h1 span {
  color: #e53e84;
}


/* For all Pages */

/* Upcoming */

.upcoming {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 1rem;
  height: fit-content;
}

.splide {
  width: 100%;
  height: 90%;
}

.splide__track {
  height: 100%;
  width: 100%;
}

.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
}

.splide__slide img {
  width: 70%;
  aspect-ratio: 16/9;
}

/* Upcoming */

/* New Drops */

.newdrops {
  height: fit-content;
  display: flex;
}

.new-container {
  gap: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 5rem;
}

@media (max-width: 768px) {
  .new-container {
    gap: 0.5rem;
  }

  .box {
    width: 15rem;
  }
}

.box {
  width: 20rem;
  height: 20rem;
  background-color: #000000;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
}

.box:hover {
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5);
}

.box-image img {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.box-title {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.box-title h5 {
  font-weight: bolder;
}

.box-title p {
  font-weight: 600;
}

.actualPrice {
  text-decoration: line-through;
  color: #888;
}

.box-title h5,
.box-title p {
  padding: 0;
  margin: 0;
}

.box-title h5:hover,
.box-title p:hover {
  color: #e53e84;
}

.Pricing {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.productDiscount {
  font-weight: 500;
  font-size: 0.9rem;
  color: #e53e84;
}

.discount {
  background-color: #e53e84;
  color: #fff;
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  left: auto;
  z-index: 2;
}

.discount p {
  padding: 0;
  margin: 0;
}

/* New Drops */

/* About Us */

.about-us {
  margin-block: 5rem;
}

.about-us h2 {
  color: #4f4c4c;
  font-weight: bolder;
  font-style: italic;
}

.about-us p {
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: 1rem;
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.about-us-text {
  padding-block: 1rem;
}

.about-us-image {
  background: url(../images/abt.jpg);
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .about-us-image {
    display: none;
  }
}

/* About Us */

/* Product Page */

.product-page {
  padding-top: 7rem;
  height: fit-content;
  width: 100vw;
}

.product-page .new-container {
  gap: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



.box {
  width: 20rem;
  height: 20rem;
  background-color: #000000;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
}

.box:hover {
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.8);
}

.box-image {
  display: grid;
}

.sold-out {
  position: absolute;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  transition: 1s;
  opacity: 0;
}

.box-image:hover .sold-out {
  opacity: 1;
}

.box-image img {
  height: 15rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.box-title {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.box-title h5 {
  font-weight: bolder;
  color: #000000;
}

.box-title p {
  font-weight: 600;
  color: #000000;
}

.box-title p span {
  text-decoration: line-through;
  color: #888;
}

.box-title h5,
.box-title p {
  padding: 0;
  margin: 0;
}

.box-title h5:hover,
.box-title p:hover {
  color: #e53e84;
}



.new-status {
  background-color: #e53e84;
  color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: flex-start;
  z-index: 2;
}

.new-status p {
  padding: 0;
  margin: 0;
}

/* Product Page */

/* Product Page on Select */

.product-details {
  padding-top: 5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.product-details h1 {
  align-self: center;
  justify-self: center;
  color: #e53e84;
  font-weight: bolder;
}

.image-price {
  display: flex;
  width: 100vw;
}

.product-image {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-description {
  width: 50%;
  height: 100%;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.product-description h3 {
  font-weight: bolder;
}

.product-description h4 {
  font-weight: bolder;
  color: #888;
}

.sellingPrice {
  color: #000000;
}

.productPageDiscount {
  font-weight: bold;
  font-size: 1.25rem;
  color: #e53e84;
}

.buy-button {
  display: flex;
}

.product-buy {
  width: 10rem;
  display: grid;
  place-content: center;
}


/* Product Page on Select */

/* Contact Us */

.contact-us {
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
  background: url(../images/footer-banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;

}

.form {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputbox {
  height: 3rem;
  padding-top: 0.25rem;
  padding-left: 0.5rem;
}

#contact-message {
  height: 10rem;
  text-align: start;
  resize: vertical;
}

.send {
  background-color: #e53e84;
  color: #fff;
}

/* Contact us */

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  height: 5rem;
  color: #a26ba2;
  gap: 0.5rem;
  bottom: 0;
}

.footer p {
  padding: 0;
  margin: 0;
}

/* Footer */


/* Admin */

.admin-button {
  display: flex;
  justify-content: flex-end;
}

.add-product {
  display: grid;
  place-content: center;
}

.add-product form {
  width: 50vw;
}

.status-box {
  display: flex;
  align-items: center;
}

.no-user {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  width: 5rem;
}

.dropdown-menu {
  width: fit-content;
}

/* Admin */